* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

html,body,div,video,ul,li {
  margin: 0;
  padding: 0; 
  list-style: none;
  scroll-behavior: smooth;
  font-family: "윤고딕340";
}

html, body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  overflow: hidden;
}

@font-face {
  src: url("../font/윤고딕340.ttf");
  font-family: "윤고딕340";
}

header {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

#main {
  position: relative;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

/*********************** header 로고영역 ************************/

#logo-container {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

#logo {
  position: absolute;
  top: 0;
  right: 0;
}

#logo:hover {
  cursor: pointer;
}

/* #logo > img {
    width: 265px;
    animation: rotate_image 10s linear infinite; 시계방향이나 반 시계방향으로 회전
    animation: rotate-axis 10s linear infinite;  축을 중심으로 회전
} */

.saturn {
  position: absolute;
  top: 100px;
  right: 70px;
}

.saturn > img {
  width: 175px;
}

.saturn-text {
  position: absolute;
  top: 20px;
  right: 20px;
}

.saturn-text > img {
  /* width: 260px; */
  width: 275px;
  animation: rotate_image 20s linear infinite;
}

/* 시계방향이나 반 시계방향으로 회전하는 애니매이션 */
@keyframes rotate_image {               
  100% {                                
      transform: rotate(360deg);
  }
}

/* @keyframes rotate-axis {             ㅡ
  from {                                 ㅣ
      transform: rotateY(0deg);          ㅣ
  }                                      ㅣ ----- 축을 중심으로 회전하는 애니매이션
  to {                                   ㅣ
      transform: rotateY(360deg);        ㅣ
  }                                      ㅣ
} */                                    

/*********************** 마우스 스크롤 애니메이션 ************************/

.scroll-downs {
  position: absolute;
  top: 1115px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/*********************** header 사이드 영역 ************************/

#side-box {
  background: #00000085;
  width: 450px;
  height: 100%;
  position: fixed;
  right: -100%;
  top: 0;
}

.side-menu-box {
  color: #fff;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.side-menu {
  margin-top: 100px;
}

.side-menu > li {
  padding: 30px;
}

.side-menu > li:hover {
  color: rgb(196, 183, 12);
}

.t-m {
  font-size: 18px;
}

/*********************** header close 버튼 영역 ************************/

.close {
  position: absolute;
  bottom: 0;
  left: 50px;
}

.close-btn {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.close-btn:hover {
  color: rgb(196, 183, 12);
  cursor: pointer;
}

/* .close > p {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
} */

/* .close > p:hover {
  color: rgb(196, 183, 12);
} */

.right {
  font-size: 30px;
  padding: 15px 10px 10px 10px;
}

/*********************** header title ************************/

.title {
  width: 100%;
  position: absolute;
  left: 120px;
  bottom: 120px;
}

.mini-title {
  color: #fff;
  font-size: 30px;
  margin: 0;
}

.big-title {
  color: #fff;
  font-size: 110px;
  text-transform: uppercase;
  margin: 0;
}

/****************************************************** section 1 (about) **************************************************/

#about {
  /* background: skyblue; */
  /* background: #cae7f3; */
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  background: repeating-linear-gradient(1deg, #0d3d82 0%, #090a0f 100%);
  /* background: radial-gradient(ellipse at bottom, #0d3d82 0%, #090a0f 100%); */
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  /* background: repeating-linear-gradient(45deg, #cae7f3, #609de8); */
  /* background: repeating-linear-gradient(17deg, #cae7f3, #0b1671); */
}

.about-box {
  display: flex;
  width: 1920px;
  margin: 0 auto;
}

/*********************** section 1 (about-background-effect) ************************/

/* .stars {
  position: relative;
} */

.light-star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  /* background: linear-gradient(-45deg, rgb(95, 145, 255), rgba(0, 0, 255, 0)); */
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgb(105, 155, 255));
}

.light-star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(95, 145, 255), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}
.light-star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(95, 145, 255), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}

/* light-star:nth-child 1 */

.light-star:nth-child(1) {
  top: 110px;
  left: 160px;
  animation-delay: 2800ms;
}

.light-star:nth-child(1)::before, .light-star:nth-child(1)::after {
  animation-delay: 3641ms;
}

/* light-star:nth-child 2 */

.light-star:nth-child(2) {
  top: 140px;
  left: 435px;
  animation-delay: 3541ms;
}

.light-star:nth-child(2)::before, .light-star:nth-child(2)::after {
  animation-delay: 3841ms;
}

/* light-star:nth-child 3 */

.light-star:nth-child(3) {
  top: 400px;
  left: 200px;
  animation-delay: 4500ms;
}

.light-star:nth-child(3)::before, .light-star:nth-child(3)::after {
  animation-delay: 4741ms;
}

/* light-star:nth-child 4 */

.light-star:nth-child(4) {
  top: 540px;
  left: 485px;
  animation-delay: 5500ms;
}

.light-star:nth-child(4)::before, .light-star:nth-child(4)::after {
  animation-delay: 5741ms;
}

/* light-star:nth-child 5 */

.light-star:nth-child(5) {
  top: 400px;
  left: 830px;
  animation-delay: 6500ms;
}

.light-star:nth-child(5)::before, .light-star:nth-child(5)::after {
  animation-delay: 6741ms;
}

/* light-star:nth-child 6 */

.light-star:nth-child(6) {
  top: 125px;
  left: 960px;
  animation-delay: 6800ms;
}

.light-star:nth-child(6)::before, .light-star:nth-child(6)::after {
  animation-delay: 7500ms;
}

/* light-star:nth-child 7 */

.light-star:nth-child(7) {
  top: 280px;
  left: 1290px;
  animation-delay: 7000ms;
}

.light-star:nth-child(7)::before, .light-star:nth-child(7)::after {
  animation-delay: 8500ms;
}

/* light-star:nth-child 8 */

.light-star:nth-child(8) {
  top: 650px;
  left: 1070px;
  animation-delay: 3000ms;
}

.light-star:nth-child(8)::before, .light-star:nth-child(8)::after {
  animation-delay: 3500ms;
}

/* light-star:nth-child 9 */

.light-star:nth-child(9) {
  top: 870px;
  left: 175px;
  animation-delay: 3000ms;
}

.light-star:nth-child(9)::before, .light-star:nth-child(9)::after {
  animation-delay: 3500ms;
}

/* light-star:nth-child 10 */

.light-star:nth-child(10) {
  top: 1200px;
  left: 575px;
  animation-delay: 4000ms;
}

.light-star:nth-child(10)::before, .light-star:nth-child(10)::after {
  animation-delay: 4500ms;
}

/* light-star:nth-child 11 */

.light-star:nth-child(11) {
  top: 910px;
  left: 1330px;
  animation-delay: 2000ms;
}

.light-star:nth-child(11)::before, .light-star:nth-child(11)::after {
  animation-delay: 2500ms;
}

/* light-star:nth-child 12 */

.light-star:nth-child(12) {
  top: 70px;
  left: 1670px;
  animation-delay: 8000ms;
}

.light-star:nth-child(12)::before, .light-star:nth-child(12)::after {
  animation-delay: 8500ms;
}

/* light-star:nth-child 13 */

.light-star:nth-child(13) {
  top: 775px;
  left: 1670px;
  animation-delay: 4000ms;
}

.light-star:nth-child(13)::before, .light-star:nth-child(13)::after {
  animation-delay: 4500ms;
}

/* light-star:nth-child 14 */

.light-star:nth-child(14) {
  top: 1215px;
  left: 1670px;
  animation-delay: 6000ms;
}

.light-star:nth-child(14)::before, .light-star:nth-child(14)::after {
  animation-delay: 6500ms;
}

/* light-star:nth-child 15 */

.light-star:nth-child(15) {
  top: 920px;
  left: 1980px;
  animation-delay: 3000ms;
}

.light-star:nth-child(15)::before, .light-star:nth-child(15)::after {
  animation-delay: 3500ms;
}

/* light-star:nth-child 16 */

.light-star:nth-child(16) {
  top: 160px;
  left: 2190px;
  animation-delay: 7000ms;
}

.light-star:nth-child(16)::before, .light-star:nth-child(16)::after {
  animation-delay: 7500ms;
}

/* light-star:nth-child 17 */

.light-star:nth-child(17) {
  top: 490px;
  left: 2380px;
  animation-delay: 4000ms;
}

.light-star:nth-child(17)::before, .light-star:nth-child(17)::after {
  animation-delay: 4500ms;
}

/* light-star:nth-child 18 */

.light-star:nth-child(18) {
  top: 1110px;
  left: 2450px;
  animation-delay: 4000ms;
}

.light-star:nth-child(18)::before, .light-star:nth-child(18)::after {
  animation-delay: 4500ms;
}

/************** section 1 (about-left) ***************/

.left-about {
  width: 1000px;
}

.left-about > h3 {
  font-size: 35px;
  padding-left: 10px;
  /* padding-left: 175px; */
  padding-top: 230px;
  text-transform: uppercase;
  margin-bottom: 155px;
  color: #fff;
}

.left-img-t {
  position: relative;
  left: -10%;
  /* padding: 170px 120px; */
}

.left-img-t > h2 {
  font-size: 100px;
  /* font-size: 40px; */
  position: absolute;
  right: 18%;
  top: 200px;
  line-height: 1;
  color: #fff;
}

.left-img-t > img {
  width: 500px;
}

.left-img-t > p {
  padding-left: 115px;
  font-size: 20px;
  font-weight: 500;
  font-family: monospace;
  background: #fff;
  /* width: 905px; */
  width: 940px;
  margin-left: 90px;
  padding: 20px 20px;
  line-height: 1.5;
  border-radius: 15px;
  margin-top: 30px;
  color: #333;
}

/************** section 1 (about-right) ***************/

.right-about {
  width: 1000px;
}

.right-img-t {
  position: relative;
  right: -10%;
  top: 26.5%;
}

/******* section 1 top (certifiacte) *******/

.top > h3 {
  font-size: 32px;
  margin: 20px 0;
  color: #fff;
}

.cert {
  display: flex;
}

.cert > li {
  width: 180px;
  height: 170px;
  background: #fff;
  box-shadow: #1b2735;
  margin: 10px 30px 0 0;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
}

.cert > li > img {
  width: 100px;
  margin-top: 15px;
  margin-bottom: 7px;
}

.cert > li > p {
  font-weight: 600;
}

.cert > li:hover {
  transform: scale(1.1);
}

/******* section 1 bottom (career) *******/

.bottom {
  margin-top: 50px;
}

.bottom > h3 {
  font-size: 32px;
  margin: 20px 0;
  color: #fff;
}

.career1-1 {
  display: flex;
}

.career1-1 > li {
  width: 205px;
  height: 200px;
  background: #fff;
  box-shadow: #1b2735;
  margin: 10px 100px 0 0;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
}

.career1-1 > li > img {
  width: 100px;
  margin-top: 35px;
  margin-bottom: 15px;
  font-weight: 500;
}

.career1-1 > li > p {
  font-weight: 600;
}

.career1-1 > li:hover {
  transform: scale(1.1);
}

.career1-2 {
  display: flex;
}

.career1-2 > li {
  width: 205px;
  height: 200px;
  background: #fff;
  box-shadow: #1b2735;
  margin: 50px 100px 0 0;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
}

.career1-2 > li > img {
  width: 100px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.career1-2 > li > p {
  font-weight: 600;
}

.career1-2 > li:hover {
  transform: scale(1.1);
}

/*********************** 마우스 스크롤 애니메이션 ************************/

.scroll-downs1 {
  position: absolute;
  top: 1115px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey1 {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller1 {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/***************************************************** section 2 (skills) **************************************************/

#skills {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background: repeating-linear-gradient(1deg, #27508c 0%, #1f2027 100%);
  /* background: repeating-linear-gradient(45deg, #cae7f3, #c4d4e8); */
}

#donut-box {
  width: 1800px;
  margin: 0 auto;
  position: relative;
}

.design-title {
  margin-top: 60px;
}

.design-title h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 33px;
  color: #fff;
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 5px 0;
  grid-gap: 22px;
  width: 800px;
  margin: 0px auto;
}

.design-title h3:after, .design-title h3:before {
  content: " ";
  display: block;
  border-bottom: 5px solid #fff;
  /* border-bottom: 5px solid #333; */
  padding-top: 20px;
  /* background-color:#f8f8f8; */
}



/******* skill (donut-graph-design) *******/

.donut-design {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

/******* skill (donut 1-1) *******/

.donut1-1 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 90%, #F2F2F2 90% 100%);
  content: attr(data-content)'%';
}

/* .donut[data-content='72'] {
  color: #fff;
} */

.donut1-1::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.ps {
  position: absolute;
  left: 32px;
  top: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut1-1:hover {
  transform: scale(1.1);
}

/******* skill (donut 1-2) *******/

.donut1-2 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 85%, #F2F2F2 85% 100%);
  content: attr(data-content)'%';
}

.donut1-2::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.ai {
  position: absolute;
  left: 40px;
  top: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut1-2:hover {
  transform: scale(1.1);
}

/******* skill (donut 1-3) *******/

.donut1-3 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 80%, #F2F2F2 80% 100%);
  content: attr(data-content)'%';
}

.donut1-3::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.fi {
  position: absolute;
  right: 65px;
  top: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut1-3:hover {
  transform: scale(1.1);
}

/******* skill (donut 1-4) *******/

.donut1-4 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 70%, #F2F2F2 70% 100%);
  content: attr(data-content)'%';
}

.donut1-4::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.xd {
  position: absolute;
  top: 200px;
  right: 80px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut1-4:hover {
  transform: scale(1.1);
}

/******* skill (donut-graph-web) *******/

.web-title {
  margin-top: 120px;
}

.web-title h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 33px;
  color: #fff;
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 5px 0;
  grid-gap: 22px;
  width: 800px;
  margin: 0px auto;
}

.web-title h3:after, .web-title h3:before {
  content: " ";
  display: block;
  border-bottom: 5px solid #fff;
  /* border-bottom: 5px solid #333; */
  padding-top: 20px;
  /* background-color:#f8f8f8; */
}

.donut-web {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

/******* skill (donut 2-1) *******/

.donut2-1 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 90%, #F2F2F2 90% 100%);
  content: attr(data-content)'%';
}

/* .donut[data-content='72'] {
  color: #fff;
} */

.donut2-1::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.html {
  position: absolute;
  left: 60px;
  top: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut2-1:hover {
  transform: scale(1.1);
}

/******* skill (donut 2-2) *******/

.donut2-2 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 85%, #F2F2F2 85% 100%);
  content: attr(data-content)'%';
}

.donut2-2::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.css {
  position: absolute;
  left: 65px;
  top: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut1-2:hover {
  transform: scale(1.1);
}

/******* skill (donut 2-3) *******/

.donut2-3 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 50%, #F2F2F2 50% 100%);
  content: attr(data-content)'%';
}

.donut2-3::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.scss {
  position: absolute;
  right: 75px;
  top: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut1-3:hover {
  transform: scale(1.1);
}

/******* skill (donut 2-4) *******/

.donut2-4 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 50%, #F2F2F2 50% 100%);
  content: attr(data-content)'%';
}

.donut2-4::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.js {
  position: absolute;
  width: 150px;
  top: 200px;
  right: 18px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut2-4:hover {
  transform: scale(1.1);
}

/******* skill (donut 2-5) *******/

.donut2-5 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 80%, #F2F2F2 80% 100%);
  content: attr(data-content)'%';
}

.donut2-5::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.filezila {
  position: absolute;
  top: 200px;
  right: 60px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut2-5:hover {
  transform: scale(1.1);
}

/******* skill (donut 2-4) *******/

.donut2-6 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 80%, #F2F2F2 80% 100%);
  content: attr(data-content)'%';
}

.donut2-6::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.git {
  position: absolute;
  top: 200px;
  right: 58px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut2-6:hover {
  transform: scale(1.1);
}

/******* skill (donut-graph-video) *******/

.video-title {
  margin-top: 120px;
}

.video-title h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 33px;
  color: #fff;
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 5px 0;
  grid-gap: 22px;
  width: 800px;
  margin: 0px auto;
}

.video-title h3:after, .video-title h3:before {
  content: " ";
  display: block;
  border-bottom: 5px solid #fff;
  /* border-bottom: 5px solid #333; */
  padding-top: 20px;
  /* background-color:#f8f8f8; */
}

.donut-video {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

/******* skill (donut 3-1) *******/

.donut3-1 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 70%, #F2F2F2 70% 100%);
  content: attr(data-content)'%';
}

/* .donut[data-content='72'] {
  color: #fff;
} */

.donut3-1::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.premiere {
  position: absolute;
  left: 20px;
  top: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut3-1:hover {
  transform: scale(1.1);
}

/******* skill (donut 3-2) *******/

.donut3-2 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 45%, #F2F2F2 45% 100%);
  content: attr(data-content)'%';
}

.donut3-2::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.after {
  position: absolute;
  left: 29px;
  top: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut1-2:hover {
  transform: scale(1.1);
}

/******* skill (donut 3-3) *******/

.donut3-3 {
  width: 10%;
  padding-bottom: 9.8%;
  /* height: 7vw; */
  /* width: calc(13% - 30px);
  padding-bottom: calc(12% - 16px); */
  /* margin: 0 auto; */
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 60%, #F2F2F2 60% 100%);
  content: attr(data-content)'%';
}

.donut3-3::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.obs {
  position: absolute;
  right: 42px;
  top: 200px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* color: #555353; */
}

.donut1-3:hover {
  transform: scale(1.1);
}

/******* skill (donut 3-4) *******/

/* .donut3-4 {
  width: 10%;
  padding-bottom: 9.8%;
 
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background .3s ease-in-out;
  background: conic-gradient(#3F8BC9 0% 70%, #F2F2F2 70% 100%);
  content: attr(data-content)'%';
}

.donut3-4::before {
  color: #fff;
  width: 65%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 16.5%;
  top: 17.5%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-size: 1.3vw;
  padding: calc(38% - 1.3vw) 0;
}

.xd {
  position: absolute;
  top: 200px;
  right: 80px;
  font-size: 20px;
  font-weight: 600;
  color: #555353;
}

.donut3-4:hover {
  transform: scale(1.1);
} */

/*********************** 마우스 스크롤 애니메이션 ************************/

.scroll-downs2 {
  position: absolute;
  top: 1115px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey2 {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller2 {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


/*************************************************** section 3 (web) ******************************************************/

#web {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background: repeating-linear-gradient(1deg, #2462bd 0%, #1f2027 100%);
  /* background: repeating-linear-gradient(1deg, #27508c 0%, #1f2027 100%); */
  /* background: repeating-linear-gradient(45deg, #cae7f3, #c4d4e8); */
}

#web-box {
  width: 2000px;
  margin: 0 auto;
  position: relative;
}

#web-box  h3 { 
  font-size: 35px;
  padding-left: 90px;
  /* padding-left: 175px; */
  padding-top: 230px;
  text-transform: uppercase;
  margin-bottom: 155px;
  color: #fff;
}

#slide-box {
  width: 1800px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

#web-slide {
  width: 1800px;
  height: 600px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  /* display: flex; */
}

#web-slide ul {
  position: absolute;
  width: 9000px;
  top: 0;
  left: 0;
  font-size: 0;
  /* width: 5412px; */
}

#web-slide ul li {
  display: inline-block;
}

.back {
  position: absolute;
  top: 790px;
  left: 0;
  cursor: pointer;
  z-index: 1;
  font-size: 50px;
  color: #fff;
}

.next {
  position: absolute;
  top: 790px;
  right: 0;
  cursor: pointer;
  z-index: 1;
  font-size: 50px;
  color: #fff;
}

/******* section 3 web-flex - left & right *******/

/******* web-flex (left) *******/

.web-flex {
  display: flex;
  align-items: flex-end;
  /* position: absolute; */
}

.web-left {
  width: 500px;
  height: 420px;
  background: #fff;
}

.web-info {
  width: 480px;
  height: 310px;
  padding: 25px 50px;
}

.web-info > h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.web-info > p {
  font-size: 20px;
}

.view-btn {
  /* background: #fff;
  border: 1px solid #333;
  padding: 20px 90px; */

  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 20px 90px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.view-btn span {
  position: relative;
  z-index: 1;
}

.view-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.view-btn:hover::after {
  cursor: pointer;
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/******* web-flex (right) *******/

.web-right {
  width: 1300px;
  height: 600px;
  background: #333;
  display: flex;
  overflow: hidden;
}

.web-right > a > img {
  width: 1300px;
  height: 600px;
  /* background: #333; */
}

/*********************** 마우스 스크롤 애니메이션 ************************/

.scroll-downs3 {
  position: absolute;
  top: 1115px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey3 {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller3 {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/*********************** section 4 (design) ************************/

#design {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}















/*********************** 마우스 스크롤 애니메이션 ************************/

.scroll-downs4 {
  position: absolute;
  top: 1115px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey4 {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller4 {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}








































.body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.night1 {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
  top: 770px;
  left: 1040px;
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, rgb(95, 145, 255), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgb(105, 155, 255));
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(95, 145, 255), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(95, 145, 255), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
    top: calc(50% - 998px);
    left: calc(50% - -80px);
    animation-delay: 9941ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  animation-delay: 9941ms;
}
.shooting_star:nth-child(2) {
    top: calc(50% - 934px);
    left: calc(50% - -443px);
    animation-delay: 765ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  animation-delay: 765ms;
}
.shooting_star:nth-child(3) {
    top: calc(50% - 738px);
    left: calc(50% - -177px);
    animation-delay: 595ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  animation-delay: 595ms;
}
.shooting_star:nth-child(4) {
    top: calc(50% - 807px);
    left: calc(50% - 256px);
    animation-delay: 7613ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  animation-delay: 7613ms;
}
.shooting_star:nth-child(5) {
    top: calc(50% - 332px);
    left: calc(50% - 242px);
    animation-delay: 904ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  animation-delay: 904ms;
}
.shooting_star:nth-child(6) {
    top: calc(50% - 436px);
    left: calc(50% - -101px);
    animation-delay: 1134ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  animation-delay: 1134ms;
}
.shooting_star:nth-child(7) {
    top: calc(50% - 49px);
    left: calc(50% - 1px);
    animation-delay: 304ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  animation-delay: 304ms;
}
.shooting_star:nth-child(8) {
    top: calc(50% - 724px);
    left: calc(50% - -726px);
    animation-delay: 6952ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  animation-delay: 6952ms;
}
.shooting_star:nth-child(9) {
    top: calc(50% - 246px);
    left: calc(50% - 736px);
    animation-delay: 9058ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  animation-delay: 9058ms;
}
.shooting_star:nth-child(10) {
    top: calc(50% - 23px);
    left: calc(50% - 399px);
    animation-delay: 8745ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  animation-delay: 8745ms;
}
.shooting_star:nth-child(11) {
    top: calc(50% - -370px);
    left: calc(50% - 612px);
    animation-delay: 2715ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  animation-delay: 2715ms;
}
.shooting_star:nth-child(12) {
    top: calc(50% - 388px);
    left: calc(50% - -909px);
    animation-delay: 6503ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  animation-delay: 6503ms;
}
.shooting_star:nth-child(13) {
    top: calc(50% - 263px);
    left: calc(50% - -506px);
    animation-delay: 8222ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  animation-delay: 8222ms;
}
.shooting_star:nth-child(14) {
    top: calc(50% - -341px);
    left: calc(50% - -23px);
    animation-delay: 4167ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  animation-delay: 4167ms;
}
.shooting_star:nth-child(15) {
    top: calc(50% - -744px);
    left: calc(50% - 307px);
    animation-delay: 9022ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  animation-delay: 9022ms;
}
.shooting_star:nth-child(16) {
    top: calc(50% - -24px);
    left: calc(50% - -613px);
    animation-delay: 4845ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  animation-delay: 4845ms;
}
.shooting_star:nth-child(17) {
    top: calc(50% - -646px);
    left: calc(50% - 1055px);
    animation-delay: 7810ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  animation-delay: 8228ms;
}
.shooting_star:nth-child(18) {
    top: calc(50% - -1214px);
    left: calc(50% - 569px);
    animation-delay: 8580ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  animation-delay: 8580ms;
}
.shooting_star:nth-child(19) {
    top: calc(50% - -189px);
    left: calc(50% - 1087px);
    animation-delay: 2232ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  animation-delay: 2232ms;
}
.shooting_star:nth-child(20) {
    top: calc(50% - -932px);
    left: calc(50% - 829px);
    animation-delay: 4800ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  animation-delay: 4800ms;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/*# sourceMappingURL=style.css.map */
